body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1D594E;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.clock-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #F23030;
    width: 500px;
    height: 500px;
    border: 30px solid #F2CB05;
    box-shadow: inset 0 0 40px black;
    border-radius: 50%;
}

.center {
    width: 25px;
    height: 25px;
    background: #5F5B6B;
    border-radius: 50%;
    z-index: 3;
}

.hour-hand, .min-hand, .second-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
    z-index: 2;
}

.hour-hand {
    width: 10px;
    height: 130px;
    background: #7F7979;
}

.min-hand {
    width: 8px;
    height: 190px;
    background: #7F7979;
}

.second-hand {
    width: 6px;
    height: 210px;
    background: red;
}

.hour {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 0;
    font-size: 40px;
    color: #F28705;
}

.hour b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}